<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="decription" content="Dr.Chan Personal Website">
		<meta name="keywords" content="Chester Chan, resume">
		<meta name="author" content="Chester">
		<title>Research Network</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/font-awesome/css/all.css">
	
		<link rel="stylesheet" type="text/css" href="../statics/style.css">
	</head>
	<body>
		<header id="top">
				<nav>
				
					<h1><a href="#showcase">Research Network</a></h1>

					<ul>
						<li><a class="section-main" href="#home">HOME</a></li>
						<li><a class="section-main" href="#about">ABOUT</a></li>
						<li><a class="section-main" href="#publication">PUBLICATIONS</a></li>
                        <li><a class="section-main" href="#event">EVENTS</a></li>
                        <li><a class="section-main" href="#link">LINKS</a></li>
						<li><a class="section-main" href="#contact">CONTACT</a></li>
					</ul>
				</nav>
	
		</header>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <section id="event" class="preview">
          <h2 class="box-title">Events</h2>
            <hr class="hr-yellow">
            <div class="preview-content">
      
            <div class="preview-form" >
              <img class="preview-picture" src="../statics/images/scholarly_event.jpeg" alt=""  onclick="location.href ='https://github.com/chesterchan1119/Inventory-Application-with-Android-Studio'">
              <div class="preview-description"> 
            
              <table>
              <tr><th>Topic:</th><td style="color: orange">New Chinese Capitals and Migrations in Southeast Asia in the Post-pandemic
                Era</td></tr>
      
              <tr><th>Date:</th><td>23 June 2023</td></tr>
              <tr><th>Venue:</th><td>Online Conference, City University of Hong Kong</td></tr>
              <tr><th>Description:</th><td>In search of greener pastures? Migration discourses, drivers and dynamics in the
                new Hong Kong exodus</td></tr>
              </table>
            
            
              
              </div>
            </div>
      
            <div class="preview-form" >
              <img class="preview-picture" src="../statics/images/scholarly_event.jpeg" alt=""  onclick="location.href ='https://github.com/chesterchan1119/Inventory-Application-with-Android-Studio'">
              <div class="preview-description"> 
              
              <table>
                <tr><th>Topic:</th><td style="color: orange">New Chinese Capitals and Migrations in Southeast Asia in the Post-pandemic
                  Era</td></tr>
        
                <tr><th>Date:</th><td>23 June 2023</td></tr>
                <tr><th>Venue:</th><td>Online Conference, City University of Hong Kong</td></tr>
                <tr><th>Description:</th><td>In search of greener pastures? Migration discourses, drivers and dynamics in the
                  new Hong Kong exodus</td></tr>
              </table>
              
              
                
                </div>
              </div>
              <div class="preview-form" >
              <img class="preview-picture" src="../statics/images/scholarly_event.jpeg" alt=""  onclick="location.href ='https://github.com/chesterchan1119/Inventory-Application-with-Android-Studio'">
              <div class="preview-description"> 
              
              <table>
                <tr><th>Topic:</th><td style="color: orange">New Chinese Capitals and Migrations in Southeast Asia in the Post-pandemic
                  Era</td></tr>
        
                <tr><th>Date:</th><td>23 June 2023</td></tr>
                <tr><th>Venue:</th><td>Online Conference, City University of Hong Kong</td></tr>
                <tr><th>Description:</th><td>In search of greener pastures? Migration discourses, drivers and dynamics in the
                  new Hong Kong exodus</td></tr>
              </table>
              
              
                
                </div>
              </div>
      
      
            </div>
        </section>