<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="decription" content="Dr.Chan Personal Website">
		<meta name="keywords" content="Chester Chan, resume">
		<meta name="author" content="Chester">
		<title>Research Network</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/font-awesome/css/all.css">
	
		<link rel="stylesheet" type="text/css" href="../statics/style.css">
	</head>
	<body>
		<header id="top">
				<nav>
					<label for="toggle">&#9776;</label>
					<input type="checkbox" id="toggle">
					<h1><a href="#showcase">Research Network</a></h1>

					<ul>
						<li><a class="section-main" href="#home">HOME</a></li>
						<li><a class="section-main" href="#about">ABOUT</a></li>
						<li><a class="section-main" href="#publication">PUBLICATIONS</a></li>
                        <li><a class="section-main" href="#event">EVENTS</a></li>
                        <li><a class="section-main" href="#link">LINKS</a></li>
						<li><a class="section-main" href="#contact">CONTACT</a></li>
					</ul>
				</nav>
	
		</header>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <section id="publication">
            <h2 class="box-title">Relevant Publications</h2>
         
          
          <div class="work-content">

            <div class="work-form" >
              <img class="work-picture" src="../statics/images/scholarly_event.jpeg" alt=""  onclick="location.href ='https://github.com/chesterchan1119/Inventory-Application-with-Android-Studio'">
                  <h4>Organizing scholarly events</h4>
                  <p>Descriptions</p>
            </div>

            <div class="work-form">
              <img class="work-picture" src="../statics/images/research_project.webp" alt="">
          
                  <h4>Research projects</h4>
                  <p>Descriptions</p>
          
            </div>

            <div class="work-form">
              <img class="work-picture" src="../statics/images/publications.jpeg" alt="">
              <div class="work-description"> 
                  <h4>Publications</h4>
                  <p>Descriptions</p>
              </div>
            </div>
            <div class="work-form" >
              <img class="work-picture" src="../statics/images/social_engagement.jpeg" alt=""  onclick="location.href ='https://github.com/chesterchan1119/Inventory-Application-with-Android-Studio'">
                  <h4>Social engagement</h4>
                  <p>Descriptions</p>
            </div>

            <div class="work-form">
              <img class="work-picture" src="../statics/images/public_consultancy.png" alt="">
          
                  <h4>Public consultancy</h4>
                  <p>Descriptions</p>
          
            </div>

            <div class="work-form">
              <img class="work-picture" src="../statics/images/innovative_learning.webp" alt="">
              <div class="work-description"> 
                  <h4>Innovative teaching</h4>
                  <p>Descriptions</p>
              </div>
            </div>

          </div>
  </section>