html { scroll-behavior: smooth; }

body {
    line-height: 1.5;
    padding: 0px;
    margin: 0px;
    /* scroll-behavior: smooth; */
    font-family: "Poppins", sans-serif;
    background-color: #f4faff;
    
}
/*======================================================Public Utilties=============================*/
/* general nb-container */
.nb-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
/* general container */
.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px; /* reduce padding */
    box-shadow:  0 10px rgba(0, 0, 0, 0.3);
  }

.box-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 5px;
    font-weight: bold;
    margin: 5px;
  
    display: flex;
    align-items: left;
}


.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px; /* reduce padding */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* reduce font size */
    width: 150px;
  }
  
  .btn:hover {
    background-color: #0069d9;
  }
  
  .btn-danger {
    background-color: hsl(0, 100%, 50%);
  }
  
  .btn-danger:hover {
    background-color: hsl(0, 98%, 39%);
  }
  
  .btn-secondary {
    background-color: hsl(127, 65%, 51%);
  }
  
  .btn-secondary:hover {
    background-color: hsl(127, 59%, 39%);
  }

.hr-yellow {
    height: 90px; /* Adjust the height as needed */
    background-color: rgb(48, 127, 255); /* Set the color for the first 30% */
    background-image: linear-gradient(to right, rgb(60, 166, 227) 30%, black 30%); /* Create a gradient from yellow to black */
    border: 30px; /* Remove the default border */
    margin: 0; /* Remove any margin */

}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 6; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-weight: bold;
    color:black;
    font-size:60px;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }


  .learn-more{
    margin-left:auto;
    margin-right:5px;
    color:rgb(27, 174, 174)
}

#site-logo:hover {
  cursor: pointer;
}
.search-bar {
    display: flex;
    align-items: center;
  }
  
.search-bar input {
    width: 300px;
    min-width: 100px;
    padding: 6px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
  }
  
.search-bar button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 6px;
  }
  
  /* Example icon style using Font Awesome */
.search-bar button i {
    color: #555;
  }
  .search-bar button i:hover {
    color: #7cc4ff;
  }
  header {
    background-color: #d3cfafd6;
    position: fixed;
    width: 100%;
    z-index: 4;
  }
  header img{
    max-height: 90px;
    max-width: 300px;
    height:inherit;
  }
  
  header a {
    color: #0e0e0e;
    text-decoration: none;
  }
  
  header li:hover {
    cursor: pointer;
  }
  

  header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Add this line to create space between h1 and the menu icon */
    text-align: center;
    /* line-height: 60px; */
    width: 100%;
    font-size:relative; 
  }
  
  header h1 {
    margin: 20px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
  }
  
  header h1 a {
    color: rgb(39, 66, 101);
  }
  
  header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
  }
  
  .menu-icon {
    display: none; /* Hide the menu icon by default */
  }
  

section#showcase {
    min-height: 650px;
    background-image: url('../statics/images/migration.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: row;

}

section#showcase .showcase-inner {
    display: block;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    display: flex;
    flex-direction: row;
}

section#showcase .nb-container {
    flex-direction: column;
}

.showcase-inner h1 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0px 0px 30px #444;
    margin-bottom: 0px;
    margin-top: 0px;
}

.showcase-inner h2 {
    font-size: 3em;
    font-weight: normal;
    font-weight: bolder;
    text-shadow: 1px 1px 4px black;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: "Montserrat", sans-serif;
       
}




.boxes-title h3 {
    text-align: center;
    font-style: italic;
    font-size: 10px;
}





/*    About Section    */

section#about {
    background-color: #eee;
    padding: 30px;
    background-image: url('../statics/images/asn_studies.jpg');
    background-size: cover;
    background-position: center;
 
}
section#about img {
    border-radius: 20px;
    border: 6px solid white;
}

section#about h2{
    font-family: "Palatino", Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    font-size: 50px;    
    margin-top:30px;
    color:#0e0e0e
}

section#about .about-nb-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top:50px;
}
section#about .about-nb-container h3 {
    font-weight: bolder; 
    font-family: "Montserrat", sans-serif;
}

section#about .about-left{
   width:relative;
    text-align: center;
    justify-self:center ;
}


section#about .about-right h3 {
    font-size: 20px;
    margin-bottom:10px;
}
section#about img {
    width: 80%;
}

section#about .about-right dl{
   margin-bottom: 50px;
}
section#about .about-right dt{
    font-weight: bolder; 
    font-family: "Montserrat", sans-serif;
}

section#about .about-right{
    width: 60%;
}


/*           work Region               */
.preview {
    /* background-color: #5d595a; */
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.preview-form {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 12px 18px -6px rgba(34, 56, 101, 0.04);
   margin-right:5px;
}

/* Hover the preview form would turn darker */
.preview-form:hover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	pointer-events: none;
  border-radius: 10px;
}



  
  .preview-form:hover {
    background-color: rgb(227, 227, 227);
    cursor: pointer;
  }
  
  .preview-form::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: 2px; */
    background-color: rgb(97, 223, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .preview-form:hover::after {
    transform: scaleX(1);
  }
.preview h2 {
    margin-top:30px;
    font-size: 30px;
}
.preview h3{
    font-size: 23px;
}
.preview h4{
    font-size: 17px;
}

.type-header{
    color: rgb(62, 176, 239);
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 0px;
    padding:0;
    font-weight: bold;
    align-items: left;
    text-transform: uppercase;
}


.category-tag{
    margin-top: 10px;
    top:0;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(62, 176, 239);
}

section#publication .preview-content {
    overflow: auto;
    display: flex;
    flex-direction: row;
    
}

section#publication .preview-form{  
    
    border-radius: 0px;
    min-width: 270px;
    margin:20px;
    max-width: 320px;
  
}

section#publication .preview-picture {
    width: 100%;   
    height:100% ;    
     /* min-height: 300px; */
    /* max-height: 400px;  */
   

}
/* The entire description session */
/* section#publication .preview-description{
    min-height: 200px;
    padding: 22px;
    text-align: left;
    position: relative;
} */
/* publication title */
section#publication .preview-description h4{
    font-weight: bolder;
    margin-top: 10px;
}

/* publication author */
section#publication .preview-description p{
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    font-size: 12px;

}



section#event {
    margin:20px;
}

section#event th{
    margin-bottom: auto;
}
section#event .preview-content{
    overflow-x: auto;
    display: flex;
    flex-direction: row;

}
section#event .preview-form{
    height: 600px;
    padding:0;
    border-radius: 0px;
    min-width: 270px;
    margin:20px;
    max-width: 350px;
}
section#event .preview-description{
    min-height: 200px;
    padding: 22px;
    text-align: left;
    position: relative;
    min-height: 150px;
    flex-grow:1; /* allow it to grow and take up any remaining space in the .preview-form. */
}

section#event .preview-description p{
   padding: 0px;
   margin: 0px;
}
section#event .preview-description p{
    padding: 0px;
    margin: 0px;
 }
section#event .preview-picture {
    width: 100%;   
    height:50% ;
    border-radius:20px;
    padding:0;
    flex-shrink: 0; /* prevent it from shrinking and maintain its original height. */
}

.scroll-button{
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .scroll-button:hover{
    background-color: #bbfbf0;
  }
  #scroll-button-1{
    margin-top:20%;
    right: 3px;/* Position the button on the rightmost side */
  }
  
  #scroll-button-2{
    margin-top:50%;
    right: 3px; /* Position the button on the rightmost side */
  }
  .arrow-icon {
    width: 24px;
    height: 24px;
    fill: #333;
  }



section#joinUs {
    min-height: 350px;
    background-image: url('../statics/images/joinUsBg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #040404;
    display: flex;
    flex-direction: row;
}
section#joinUs h2{
    font-weight: lighter;
    font-family: "Palatino", Georgia, 'Times New Roman', Times, serif;
}
#add-form-wrapper{
    color: black;
}


/* Contact Session */
section#contact {
    min-height: 600px;
    background-position: center;
    opacity: 0.75;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-content: center;
}

section#contact .contact-inner{
    margin-top:0px;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
section#contact h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;    
    color:black;
    /* margin-top:0px; */
    margin-bottom :20px;
    margin-top: 30px;
}

/* Feel free to drop down your enquires */
section#contact h3{ 
    text-align: right;
    font-weight: lighter;
    font-size: 30px;    
    color:black;
    /* margin-top:0px; */
    margin-bottom :20px;
    margin-top: 30px;

}
section#contact h4{
    text-align: center;
    font-weight: bold;
    font-size: 15px;    
    color:black;
    margin-bottom :20px;
    margin-top: 30px;

}
section#contact .form-nb-container{
    display: flex;
    width: 85%;
    flex-direction: row;
}
section#contact .form-left{
    display: flex;
    flex-direction:  column;
    width: 30%;
    margin-top: 70px ;
    height: 100%;
}

section#contact .form-right{
    display: flex;
    flex-direction:  column;
    align-items: center;
    margin-top: 70px;
    width: 50%;
    height: 100%;
}

input[type=text], select {
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 50px;
    width: 70%; 
    margin:20px 0px 20px 60px;
    font-size: 15px;
    display: flex;
}
input[type=name], select {
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 50px;
  width: 70%; 
  margin:20px 0px 20px 60px;
  font-size: 15px;
  display: flex;
}
input[type=email], select {
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 50px;
  width: 70%; 
  margin:20px 0px 20px 60px;
  font-size: 15px;
  display: flex;
}

textarea[type=textarea], select {
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 80px;
    width: 70%;
    padding: 10px;
    margin:20px 0px 20px 60px;
    font-size: 15px;
}

.submit{
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Pink Footer */
footer {
    padding: 20px;
    color: #ffffff;
    text-align: left;
    background-color:  #d3cfafd6;;
    display:flex;
    align-items: center;
}
footer .icon{
    display: flex;
    flex-direction: row;
    gap: 20px;

}
footer .icon :hover{
    cursor: pointer;
}





    









/* handling multi media platform or devices */
    
@media (max-width: 749px ) and (min-width:200px){
    #add-form-wrapper .container{
        width:80%;
    }
    #add-form 
    {
      font-size: 12px;
    }
    #add-form input, select
    { 
    font-size: 12px;
     height:30px;
      width:100%;
      margin:0px;
      padding:3px;
    }
    .modal {
        width: 100%;
    }
    .close{
        position: absolute;
        right: 35px;
        top: 15px;
        font-weight: bold;
        color:rgb(0, 0, 0);
        font-size:30px;
    }
        
         
    section#about .about-nb-container{
        display: flex;
        flex-direction: column;
    }
    section#about img {
        width: 60%;
    }
    .menu-icon {
        display: block;
        font-size: 24px;
        margin-right: 20px;
      }
      header nav{
        margin:0px;
        padding: 0px;
      }
      header nav ul {
        display: none;
      }
      #menu-toggle{
        display:none;
      }
      /* Show the menu items when the menu icon is checked */
      #menu-toggle:checked ~ ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #d3cfafd6;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 5px;
      }
      
      /* Styling for the mobile menu items */
      #menu-toggle:checked ~ ul li {
        margin: 5px 0;
      }
    
    .menu-icon {
        display: block;
        font-size: 24px;
        margin-right: 20px;
      }
}
@media (max-width: 1006px ) and (min-width: 750px) {
    nav ul a {
       font-size: 11px;
       padding: 0px; 
       display: flex;
       flex-direction: row; 
       justify-content:center;
       margin:0px; 
    }
}

    
@media only screen and (min-width: 750px) {
    #add-form-wrapper .container{
        width:70%;
        font-size: 14px;
    }

    #add-form input, select{ 
        font-size: 100%;
        font-weight: lighter;
        height:auto;
        width:100%;
        margin:0px;
    }
    .modal {
        width: 100%;
    }
    .close{
        position: absolute;
        right: 35px;
        top: 15px;
        font-weight: bold;
        color:rgb(0, 0, 0);
        font-size:30px;
    }

    /* add some more padding for links on large tablets/desktop */
    header nav ul { 
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        margin: 0 0px; 
        padding: 0;
    }
 
    nav ul a {
        flex-grow: 1;
        border-top: 0px;
        padding: 0 15px; 
        white-space: nowrap; /* don't let it open a new line*/
    }
    /* restore the header nb-container width */
    header nav{ 
        width: 100%;
        padding:0px;
    }
     #menu-toggle{
        display:none;
      }

    .preview-content {        
        flex-direction: row;
    } 
    .preview-form {
        width: 28%;
    }
}
